<!--About -->
<div class="pt-12 md:p-2">
    <div class="w-full">
        <img src="" alt="">
        <p class="mt-8 md:min-w-11/12 md:mx-3 px-3 text-pretty text-gray-100 text-base opacity-80">
            Hola 游녦游낖, soy Francisco Mu침oz, mis amigos me dicen Pancho, Soy Titulado en <span class="text-cyan-500 font-medium">Analista programador</span> y actualmente me encuentro terminando la continuidad de estudios en <span class="text-cyan-500 font-bold">Ingenieria en Inform치tica</span>. Inicie en la <span class="font-medium text-orange-300">programaci칩n </span>como un hobby mirando videos en Youtube, hasta que me aventure a estudiar y ampliar mis conocimientos.
        </p>
        <p class="mt-8 md:min-w-11/12 md:mx-3 px-3 text-pretty text-gray-100 text-base opacity-80">
            Me gusta <span class="text-emerald-200 font-bold">aprender</span> nuevas tecnolog칤as y <span class="text-emerald-200 font-bold">mejorar</span> mis habilidades constantemente. Me apasiona el desarrollo web, la programaci칩n y la tecnolog칤a en general. Siempre estoy buscando nuevos <span class="text-orange-300 font-medium">desaf칤os</span> y <span class="text-orange-300 font-medium">oportunidades</span> para crecer como desarrollador.
        </p>
        <p class="mt-8 md:min-w-11/12 md:mx-3 px-3 text-pretty text-gray-100 text-base opacity-80">
            <span class="text-orange-300 font-medium">Actualmente busco crecer profesionalmente en el 치rea de desarrollo web</span>, ya sea como <span class="text-emerald-200 font-bold">Desarrollador Frontend</span> o <span class="text-emerald-200 font-bold">Desarrollador Backend</span>. Me gustar칤a trabajar en proyectos desafiantes que me permitan seguir aprendiendo y creciendo como profesional.
        </p>
    </div>
</div>
<!--CV DOWNLOAD -->