---
import ExperienceItem from "./ExperienceItem.astro"


const EXPERIENCIE = [
    {
        date: "Actualmente...",
        title: "Freelance",
        enterprise: "",
        description: "Desarrollo de aplicaciones web, principalmente en el stack MERN. Donde empleo mis conocimientos en React, Node.js y MongoDB para crear aplicaciones escalables y eficientes.",
        link: "",   
    },
    {
        date: "Dicembre 2023 - Marzo 2024",
        title: "Practica Profesional",
        enterprise: "ABTEC",
        description: "Desarrolle una aplicacion web para la gestion de proyectos internos de la empresa, utilizando PHP, PostgreSQL, JavaScript y Sass esta aplicacion permite gestionar los proyectos internos de la empresa, permitiendo a los usuarios crear, editar y eliminar proyectos, ademas de asignar tareas a los mismos.",
        link: "",
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-500 ml-3">   
    {EXPERIENCIE.map(experiencie => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experiencie}/>
        </li>
    ))}         
</ol>

