<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <a href="/" class="font-black uppercase text-2xl">
        <span class="text-cyan-600">{'{'}</span>
        Panxodev
        <span class="text-cyan-600">{'}'}</span>
    </a>
    <nav class="flex flex-row gap-4 opacity-90">
        <a href="/">Skills</a>
        <a href="">Experiencia</a>
        <a href="/about">Sobre Mí</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>