---
const tecnologias = [
  { nombre: "HTML", icono: "/icons/html5.svg" },
  { nombre: "CSS", icono: "/icons/css_old.svg" },
  { nombre: "JavaScript", icono: "/icons/javascript.svg" },
  { nombre: "React", icono: "/icons/react_light.svg" },
  { nombre: "TypeScript", icono: "/icons/typescript.svg" },
  { nombre: "Astro", icono: "/icons/astro_dark.svg" },
  { nombre: "Tailwind", icono: "/icons/tailwindcss.svg" },
  { nombre: "Node.js", icono: "/icons/nodejs.svg" },
  { nombre: "Express", icono: "/icons/expressjs_dark.svg" },
  { nombre: "MongoDB", icono: "/icons/mongodb.svg" },
  { nombre: "PostgreSQL", icono: "/icons/postgresql.svg"},
  { nombre: "Postman", icono: "/icons/postman.svg"},
];
---
<section class="relative w-full overflow-hidden py-15">
  <div class="group relative w-full overflow-hidden">
    <div class="flex w-max animate-marquee group-hover:paused">
      {tecnologias.concat(tecnologias).map((tech, index) => (
        <div class="flex-shrink-0 mx-6 w-24 text-center text-white" data-key={index}>
          <img src={tech.icono} alt={tech.nombre} class="mx-auto h-12 w-12 mb-2" />
          <p class="text-sm">{tech.nombre}</p>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  @keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .paused {
    animation-play-state: paused;
  }
</style>
